.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


ul.navbar-nav{
  margin: 0 auto;
}

ul.navbar-nav a{
  margin-right: 2px;
}

.content_wrapper{
  display: block;
  overflow: hidden;
  /* height: 100%; */
  margin-bottom: 20px;
  height: auto;
}

.footerSection{
  width: 100%;
  display: block;
  position: relative;
  z-index: 999;
}

.minHeight{min-height: 600px!important;}

.validation_error_message {
  text-align: left;
  color: yellow;
  font-weight: 500;
}

.errMsg{color:yellow;text-align: left;}
.buttonWrapper button {
  width: 20%;
  margin: 0 3px;
  float: right;
}